[core]
    editor = vim
    excludesfile = ~/.gitignore
    autocrlf = input
[diff "bin"]
    # Use `hexdump` to diff binary files
    textconv = hexdump -v -C
[color]
    # Use colors in Git commands that are capable of colored output when outputting to the terminal
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[help]
    autocorrect = 15
[init]
    defaultBranch = master
[branch "master"]
    # Use `origin` as the default remote on the `master` branch in all cases
    remote = origin
    merge = refs/heads/master
[credential]
    helper = osxkeychain
[fetch]
    prune = true
[include]
    path = ~/.gitaliases
    path = ~/.gitcredentials